# IDE
.vscode/
.idea/
.cache/
*.code-workspace
*.swp
*~

# CMake-Build
build/
cmake-build-*/
# compile_commands.json

# C/C++ Build Artifacts
# *.o
# *.obj
# *.out
# *.a
# *.so
# *.dll

# Binary Directories
bin/
**/bin/

# Logs & Tmp
logs/
*.log
*.log.*
*.tmp
*.cache

# System
.DS_Store
Thumbs.db
